extends layout

block content
  h1= title
  p Welcome to #{title}
  p Players are:
  table(border=1)
    tr
      th id
      th Name
      th Rating
      th Matches played
    each player in players
      tr
        td= player.id
        td= player.name
        td= player.rating
        td= player.matchesPlayed
